.checkoutContainer{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    width: 40vw;
    justify-content: center;
    margin-left: 30vw;
}

.cardDetails{
    width: 40vw;
}