.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: auto;
    color: white;

}

.topBar {
    height: 10vh; /* Take up remaining space */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    overflow-y: hidden;
}
.widen{
    align-items: flex-start;
    width: 15vw;
}

.searchInstaBag {
    height: 10vh; /* Take up remaining space */
    gap: 2vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2vw;
}

.logoImage {
    height: 40vh;
    width: 15vw;
}

.videoPage {
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-y: hidden;
}

.overlay{
    position: absolute;
    font-size: 5vh;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    opacity: 0.8;
}

.storyText {
    height: 300vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 6vh;
    text-align: center;
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    margin-top: 10vh;
    font-size: 60px;
    font-weight: bold;
}


.storyParagraphs {
    margin-left: 7vw;
    margin-right: 7vw;
}

.newestCollection {
    height: 250vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    flex-direction: column;
}

.horizontal-scroll-container {
    width: 100%; /* Set fixed width for the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep items in a single line */
    margin-left: 25vw;
    margin-top: 3vh;
}
  
.horizontal-scroll {
    display: inline-block; /* Ensure container doesn't expand */
}
  
.item {
    display: inline-block; /* Display items in a row */
    width: 100vw; /* Set width of each item */
    height: 225vh; /* Set height of each item */
    margin-right: 3vw; /* Add margin between items */
    flex-direction: column;
    justify-content: space-between;
}

.itemImage {
    height: 175vh;
    width: 75vw;
}

.rowCircles {
    height: 20vh;
    width: 75vw;
    display: flex; /* Ensures the circles are displayed in a row */
    justify-content: space-between; /* Centers the circles horizontally */
    margin-top: 3vh; /* Adjust as needed */
}

.itemContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -5vh;
}

.allCollections {
    height:3050px;
    background-color: #ACA190;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
}

.singleCollection{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}

.floracionPancha{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 200px;
    width: 400px;
}

.floracionPanchaHeader{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 250px;
    width: 482px;
}
.floracionPanchaImage {
    height:435px;
    width: 482px;
    margin-left: 250px;
    margin-top: 30px;
}

.floracionPanchaText {
    margin-top: 100px;
    margin-right: 60px;
    font-size: 25px;
}

.laCiebaText {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 25px;
}

.laCieba {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    width: 450px;
}

.laCiebaHeader{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 250px;
    width: 482px;
}
.laCiebaImage {
    height:570px;
    width: 600px;
    margin-right: 250px;
    margin-top: 30px;
}

.nahuales{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 200px;
    width: 400px;
}

.nahualesHeader{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 250px;
    width: 482px;
}
.nahualesImage {
    height:435px;
    width: 482px;
    margin-left: 250px;
    margin-top: 30px;
}

.nahualesText {
    margin-top: 100px;
    margin-right: 60px;
    font-size: 25px;
}

.cowboyHatsText {
    margin-top: 125px;
    margin-left: 70px;
    font-size: 25px;
}

.cowboyHats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    width: 450px;
}

.cowboyHatsHeader{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 250px;
    width: 482px;
}
.cowboyHatsImage {
    height:570px;
    width: 600px;
    margin-right: 250px;
}

.sanSebastian{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 200px;
    width: 400px;
}

.sanSebastianHeader{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 250px;
    width: 482px;
}
.sanSebastianImage {
    height:435px;
    width: 482px;
    margin-left: 250px;
    margin-top: 30px;
}

.sanSebastianText {
    margin-top: 175px;
    margin-right: 70px;
    font-size: 25px;
}

.bestSellers {
    height: 410px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: black;
}

.instagram {
    height: 450px;
    background-color: #ACA190;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
}

.instagram a{
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
}

.instagram h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.instagram-posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.image {
    width: 250px;
    height: 250px;
}

.handle {
    margin-top: 10px;
    font-size: 20px;
}

.contactInfo {
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
  
.contactInfo p {
    font-size: 10px;
    text-align: center;
}

.contactInfo h2 {
    font-weight: bold;
    margin-bottom: 15px;
}
  
.format {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
  
.format > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.getInTouch {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.newsletter {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.newsletter p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-group {
  display: flex;
  border: 1px solid #505050;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  height: 30px;
  width: 300px;
}
  
.input-group input[type="email"] {
  flex-grow: 1;
  border: none;
  padding: 15px;
  font-size: 10px;
  line-height: 30px;
  margin-right: -1px;
  outline: none;
}
  
.input-group button {
  background-color: #888;
  padding: 0px 10px;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 10px;
  border-radius: 2px;
  margin: 1px 1px 1px 0px;
  line-height: normal;
}
  

.space {
  background-color: #222222;
  height: 20px;
}