.container {
    display: flex;
    flex-direction: column;
    /*height: 100vh; /* Full height of viewport */
    /*width: 200vh;*/
    background-color: white;
    overflow-y: auto;
}

.topBar {
    height: 60px; /* Take up remaining space */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.widen{
    margin-left: -40px;
    align-items: flex-start;
    width: 245px;
}

.searchInstaBag {
    height: 50px; /* Take up remaining space */
    gap: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.logoImage {
    height: 250px;
    width: 200px;
}

.dropDownMenu {
    height: 50px; /* Set the height of the yellow rectangle */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 3px 3px rgb(174, 174, 174);
}

.videoPage {
    height: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyText {
    height: 450px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newestCollection {
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allCollections {
    height: 1000px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestSellers {
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagramLink {
    height: 200px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getInTouch {
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}